NEXT_PUBLIC_SUPABASE_URL=https://jxglfvsnzfoufptxogiz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4Z2xmdnNuemZvdWZwdHhvZ2l6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1MzkzNjIsImV4cCI6MjA5ODExNTM2Mn0.xTPhpMQwc3Ixg3OkyMoz-xLp5ZuXA64ODaDTG-cz79I
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4Z2xmdnNuemZvdWZwdHhvZ2l6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjUzOTM2MiwiZXhwIjoyMDk4MTE1MzYyfQ.CfIbi-4WgzP1QT6bK1iA_8YZTbCmgcP5hKbC2wAGnKI
